
h1, h2{
    color:#3850B7 ;
    text-align: center;
    text-shadow: 0px 3px 4px #3850B7;
}
.container{
    height: 900PX;
}
.box{
    width: 500px;
    height: 250px;
    margin: auto;
}
.btn{
    margin-left: 180px;
}

.table{
    width: 500px;
    margin: auto;
}
th{
    color: #3850B7;
}